
.section{
    margin-top: 80px;
    border-bottom: 3px solid #333333;
    padding-bottom: 80px;
}

h1{
    text-align: center;
    margin-bottom: 80px;
}

.toc1{
    margin-top:5px;
    margin-bottom: 5px;
}

.toc2{
    margin-left: 25px;
}

.toc3{
    margin-left: 50px;
}
.toc4{
    margin-left: 70px;
    font-size: 0.9rem;
}

figcaption {
    font-size: 0.8rem;
}

blockquote {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 600;
    align-self: center;
}

table, th, td {
    padding: 15px;
    border: none;
    background-color: transparent; /*doesn't work somehow*/
}

